.BMlast{
    background: linear-gradient(to right , #0E0E0E, #0E0E0E);
    transition: .5s;
    background-position: center;
    background-size: cover;
    height: 100vh;
    padding-bottom: 5rem;
    overflow: hidden;
    max-width: 100%;
    position: absolute;
    z-index: -1;
    margin-top: 40px;

}

.last_div{
    background: linear-gradient(180deg,#000000 0,#000000 70%,#f30069 85%,#b6004f 80%,#ff006d -100%,#8f003e 100%); 
    transition: .5s;
    width: 65%;
    /* position: absolute; */
    color: white;
    margin: 0 auto;
    height: auto;
    padding: 2rem 4rem;
    margin-top: 2.5rem;
    /* box-shadow: 0px 0px 10px 10px rgba(216, 214, 214, 0.018); */
    /* border: 3px solid gray; */
    border-radius: 20px;
}


.last_main{
    display: flex;
    flex-direction: row;
    align-items: center;

}

.last_main_img{
    width: 35%;
    pad: 2rem;
}


.last_main_img video{
    width: 90%;
    border-radius: 30px;
    
    transform: rotate(45deg);
    transform: scale(4.2);
    width: 35%;
    mix-blend-mode: plus-lighter;
    margin-left: 135px;
    /* margin-left: -20rem; */
}


.last_main_content{
    /* border: 2px solid white; */
    width: 70%;
    margin-left: 1rem;
    margin-top: 80px;
    margin-bottom: -20px;
    /* padding: 3rem; */
}
.last_main_content h2{
    margin-bottom: 0;
}

.content_heading{
    font-family: 'Rajdhani', sans-serif;
    font-weight: 700;
    font-size: 3.54rem;
    margin-bottom: -1rem;
    margin-top: 0px;
    margin-left: 17px;
}

.content_discription{
    font-family: 'Rajdhani', sans-serif;
    font-weight: 900;
    letter-spacing: 3px;
    line-height: 40px;
    margin-left: 17px;
    font-size: 1.68rem;
}




.content_steps{
    display: flex;
    flex-direction: row;
    justify-content:space-around ;
    margin-top: 1px;
    margin-bottom: 110px;
    /* height: 200px; */



    /* border: 2px solid black; */
}

.step{
    border: 2px solid rgba(236, 233, 233, 0.453);
    background-color: rgba(17, 17, 17, 0);
    width: 27%;
    height: auto;
    border-radius: 20px;
    padding: 1rem 0;
    padding-bottom: 1rem;
    padding-left: 1rem;
    margin-top: 40px;
    /* height: 200px; */
    /* width: 20vh; */
    /* height: 20vh; */
}

.step h3{
    font-size: 1.9rem;
    margin: 0 auto;;
    font-family: 'Rajdhani', sans-serif;
    font-weight: 700;
    /* margin-bottom: -0.5rem; */
    /* padding:  0 1rem; */
    /* text-align: center; */
}
.step h4{
    margin: 0 auto;
    /* text-align: center; */
    font-family: 'Rajdhani', sans-serif;
    font-weight: 600;
    letter-spacing: 1px;
}

.step p{
    font-size: 0.8rem;
    /* text-align: center; */
    width: 90%;
    margin-top: 1rem;
    font-family: 'Rajdhani', sans-serif;
    font-weight: 500;
    word-spacing: 3px;
    /* margin: 0 auto; */
}

 .content_text{
    border: 2px solid rgba(156, 14, 10, 0.911);
    background-color: rgba(0, 68, 196, 0.74);
    border-radius: 10px;
    color: white;
    text-decoration: none;
    text-decoration: none !important;
    /* border-bottom: 1px solid wheat; */
    width: 25%;
    padding: 0.5rem 1rem;
    text-align: center;
    margin: 0 auto;
    margin-right: 12px;
    margin-top: -4rem;
    margin-bottom: 70px;
    font-family: 'Rajdhani', sans-serif;
    font-weight: 600;
    
}

.content_text:hover{
    color: white;
    font-size: 1.2rem;
    background-color: rgb(84, 4, 84);
}

.social_media{
    display: flex;
    flex-direction: row;
    margin-top: 2rem;
    margin-left: 2rem;
}

.media{
    margin: 0 0.5rem;
}




@media screen and (max-width:1100px) {

    .last_div{
        width: 90%;
    }
    
}



@media screen and (max-width:830px) {

    .last_main{
      flex-direction: column;
    }

    .last_main_img{
        width: 80%;
        text-align: right;

    }

    .last_main_img video{
        width: 50%;
        /* text-align: right; */
    }
    .last_main_content{
        width: 100%;
        margin-top: -18rem;
        /* font-size: 0.9rem; */
    }

    .last_edit{
        /* border: 2px solid white; */
        width: 50%;
        margin-bottom: 8rem;
        font-size: 0.8rem;
    }

    
}



@media screen and (max-width:550px) {

    .last_div{
        margin-top: 2rem;
    }
    .last_main{
      flex-direction: column;
    }

    .last_main_img{
        width: 90%;
        text-align:center;

    }

    .last_main_img video{
        width: 70%;
        /* text-align: right; */
    }
    .last_main_content{
        width: 100%;
        margin-top: 2rem;
        /* font-size: 0.9rem; */
    }

    .last_edit{
        /* border: 2px solid white; */
        width: 90%;
        margin-bottom: 1rem;
        font-size: 0.8rem;
    }
  
    .content_steps{
        flex-direction: column;
        width: 90%;
        margin: 0 auto;
    }

    .step{
        width: 85%;
        margin-bottom: 1.3rem;
    }

    .content_text{
        width: 40%;
        /* margin: 0 auto; */
        text-align: left;
        margin: 2rem 0;
        margin-left: 2rem;
        
    }
    
    .social_media{
        justify-content: space-around;
        margin: 1rem auto;
    }
}


