

.activeMint {
    border: 2px solid #1db9b9;
    transform: scale(1.1);
    transition: all 300ms;
  }
  
  
  
  .slideshowMint {
    position: relative;
    width: 100%;
    /* height: 9px; */
    border-radius: 20px;
    margin:  0rem auto;
    box-sizing: border-box;
    /* border: 2px solid white; */
  }
  
  .mainImgMint {
    transition: all 500ms;
    width: 100%;
    border-radius: 20px;
    opacity: 1;
    transition: none;
    transform: translate3d(0,0,0) !important;
  }


  
  
  .actionsMint {
    position: absolute;
    top: 50%;
    left: 2%;
    width: 95%;
    /* margin: 0 auto; */
    color: white;
    display: flex;
    justify-content: space-between;
    /* margin-left: 1rem;
    margin-right: 1rem; */
    margin: 0% auto;
  }
  
  .actionsMint button {
    background: #0000003d;
    border: none;
    cursor: pointer;
    color: white;
    padding: 10px;
    padding-top: 10px;
    margin: 5px;
    border-radius: 15px;
    padding-top: 5px;
  }
  
  .actionsMint button:active {
    background: #000000a2;
    border: none;
    cursor: pointer;
    color: white;
    padding: 10px;
    padding-top: 10px;
    margin: 5px;
    border-radius: 15px;
    padding-top: 5px;
  }