.mint_page{
    /* background: linear-gradient(to bottom, #6f0939,#483b42); */
    background: linear-gradient(to bottom , #D10061,#5e1135 , #513041 , #3e3a3c);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: auto;
    padding-bottom: 5rem;
    color: white;

}
h1 , h2 ,h3, h4, p{
    margin: 0;
    padding: 0;
}

.mint_main_heading{
    width: 70%;
    /* border: 2px solid white; */
    margin: 0 auto;
    margin-top: -2rem;
    text-align: center;
    
}
.mint_main_heading h1{
    font-size: 4rem;
    font-weight: 600;
    margin: 0 auto;
    /* margin-top: -2rem; */
    /* word-spacing: 5px; */
}

.mint_main_heading h3{
    font-size: 4rem;
    margin: 0 auto;
    margin-top: -1rem;
    width: 63%;
    /* border: 2px solid black; */
    letter-spacing: 7px;
    font-weight: 300;
    text-align: right;
    /* margin-right: 2rem; */
}


.mint_box_1{
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    /* border: 2px solid white; */
}


.mint_box_1 h1{
    width: 35%;
    margin-left: 8rem;
    margin-bottom: 1rem;
    /* border: 2px solid white; */
    /* margin: 0; */
    font-size: 4rem;
    font-weight: 500;
    letter-spacing: 3px;
    padding: 0.4rem 0;
    border-bottom: 2px solid rgba(255, 255, 255, 0.579);

}


.assect_box{
    display: flex;
    flex-direction: row;
    padding: 1rem;
    justify-content: space-around;
    /* align-items: center; */
}

.assect_box_1{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* vertical-align: middle; */
    /* justify-content: center; */
    width: 35%;
}


.assect_box_1 > img{
    width: 80%;
    padding: 1rem;
    border-radius: 20px;
    background-color: #5a082e;
    border: 2px solid #720638b3;
}

.assect_box_1 a{
    width: 50%;
    text-align: center;
    margin: 2rem auto;
}


.assect_box_1 a img{
    width: 50%;
    /* margin: 0 auto; */
}
.assect_box_2{
    display: flex;
  flex-direction: column;
    align-items: flex-start;
    width: 35%;
}

.assect_box_2 .Crousel{
    width: 100%;
}

/* .assect_box_2 img{
    width: 100%;
} */


.assect_box_2 .assect_box_2_text{
    padding: 0 1rem;
}

.assect_box_2 .assect_box_2_text h2{
  font-weight: 600;
  width: 40%;
  margin-bottom: 1rem;
  font-size: 2.5rem;
  border-bottom: 1px solid white;

}
.assect_box_2 .assect_box_2_text p{
  
    
    font-size: 1.4rem;
    /* border-bottom: 1px solid white; */
  
  }


.mint_box_2{
    width: 90%;
    border: 2xp solid white;
    margin: 0 auto;
}
.mint_box_2 h1{
    width: 25%;
    padding-bottom: 0.5rem;
    font-size: 3rem;
    font-weight: 600;
    letter-spacing: 3px;
    border-bottom: 2px solid rgba(255, 255, 255, 0.427);
    margin: 0 auto;
    text-align: center;
}


.mint_box_2 p{
    font-size: 1.5rem;
    font-weight: 600;
}

.mint_box_2 h2{
    font-size: 2rem;
    letter-spacing: 3px;
    font-weight: 600;
}

.mint_box_2_div_1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 40%;
    margin: 0 auto;
}

.mint_box_2_div_1 img{
    width: 50%;
    /* margin-bottom: -1.5rem; */
}

.mint_box_2_div_2{
    display: flex;
    flex-direction: row;
    width: 95%;
    margin: 0rem auto;
    justify-content: space-between;
    align-items: center;
}


.sub_div_1 ,.sub_div_2{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 30%;
    /* overflow: hidden; */

}

.mint_box_2_div_2 a{
    width: 70%;
    text-align: center;
    margin-top: -7rem;
}

.mint_box_2_div_2 a img{
    width: 100%;
    /* margin: 0 auto; */
}

.responsive_mint{
    display: none;
}

.sub_div_1 img ,.sub_div_2 img{
    width: 80%;
}

.sub_div_2 h3{
    transform: rotate(90deg);
    white-space: nowrap;
    margin-left: -3rem;
    font-size: 1.8rem;
    font-weight: 600;

}

.sub_div_1 h3{
    transform: rotate(270deg);
    white-space: nowrap;
    margin-right: -3rem;
    font-size: 1.8rem;
    font-weight: 600;

}


.mint_box_2_div_3{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin: 4rem auto;
    margin-bottom: 0rem;
}

/* .mint_box_2_div_3 img{
    width: 50%;
} */


.sub_div_3{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 35%;
}

.sub_div_3 img{
    width: 100%;
}


.gade_img{
    width: 50%;
    margin: 0 auto;
    margin-top: -10rem;
    text-align: center;
}

.gade_img img{
    width: 70%;
    filter: grayscale();
}




.mint_box_3{
width: 80%;
padding: 2rem 0;
background: linear-gradient(to bottom, #550329,#491c33bc);
margin: 5rem auto;
border: 2px solid rgba(255, 255, 255, 0.358);
border-radius: 30px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
margin-top: 0rem;
}

.mint_box_3_text{
    width: 25%;
    text-align: center;
}
.mint_box_3_text h1{
    width: 100%;
    font-size: 3.5rem;
    font-weight: 600;
    letter-spacing: 3px;
    border-bottom: 2px solid rgba(255, 255, 255, 0.377);
}

.mint_box_3_text h3{
    letter-spacing: 10px;
    font-weight: 500;
    font-size: 2rem;
}
.mint_box_3_num{
    font-size: 1.6rem;
    font-weight: 600;
}

.mint_box_3_images{
    width: 100%;

    /* border: 2px solid white; */
    margin:  2rem auto;
    text-align: center;
}

.mint_box_3_images img{
    width: 15%;
}



.mint_box_4{
    display: flex;
    width: 80%;
    margin: 0 auto;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;

}

.mint_box_4 h3{
    margin: 2rem 0 ;
    font-size: 1.6rem;
    letter-spacing: 2px;
    font-weight: 500;
}

.mint_box_4 h2{
    margin: 2rem 0;
    font-size: 2rem;
    font-weight: 500;
    /* letter-spacing: 2px; */
}

.mint_box_4 img{
    width: 80%;
}

.mint_box_4 h1{
    font-size: 2.3rem;
    font-weight: 600;
    letter-spacing: 2px;
    border-bottom: 2px solid rgba(255, 255, 255, 0.492);
    padding: 0.5rem 2rem;
}



.mint_box_5{
    width: 80%;
    margin: 2rem auto;
    border-radius: 30px;
    background: linear-gradient(to bottom, #550329,#491c33bc);

    border: 2px solid rgba(255, 255, 255, 0.353);
}


.mint_box_5_images{
    width: 95%;
    margin: 1rem auto;
    /* border: 2px solid black; */
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.mint_box_5_images img{
    /* flex-basis: 20%; */
    width: 30%;
}


.mint_last_text{
    width: 70%;
    margin: 4rem auto;
    font-size: 1.8rem;
    letter-spacing: 2px;
    font-weight: 600;
}

.mint_box_6{
    display: flex;
    flex-direction: row;
    width: 40%;
    margin: 0 auto;
    justify-content: space-around;
}

.mint_box_6 a{
    width: 30%;
}
.mint_box_6 a img{
    width:80%;
}



@media screen and (max-width:1000px) {

    .mint_main_heading{
        width: 95%;
    }
    .mint_main_heading h1{
        font-size: 3rem;
    }
    .mint_main_heading h3{
        font-size: 3rem;
    }


    .mint_box_1{
        width: 100%;
        margin-top: 2rem;
    }
    .mint_box_1 h1{
        font-size: 3rem;
        width: 45%;
        margin-left: 4rem;
    }

    .assect_box{
        width: 90%;
        margin: 0 auto;
        justify-content: space-between;

    }
    .assect_box_1{
        width: 45%;
    }
    .assect_box_2{
        width: 45%;
    }

    .assect_box_2 .assect_box_2_text h2{

        width: 60%;
   
        font-size: 2rem;
      
      }
      .assect_box_2 .assect_box_2_text p{
        
          
          font-size: 1rem;
          /* border-bottom: 1px solid white; */
        
    
       }
       .mint_box_2{
        width: 95%;
    }

    .mint_box_2 h1{
        width: 40%;;
        font-size: 2rem;
    }
    .mint_box_2 .sub_div_1 h3,
    .mint_box_2 .sub_div_2 h3{
        font-size: 1.2rem;
    }

    .mint_box_3{
        width: 90%;
    }

    .gade_img{
        margin-top: -5rem;
    }

    .mint_box_4{
        width: 90%;
    }

    .mint_box_5{
        width: 90%;
    }

    .mint_last_text{
        width: 80%;
    }
}




@media screen and (max-width:600px) {

    .mint_main_heading{
        width: 100%;
    }
    .mint_main_heading h1{
        font-size: 2.3rem;
    }
    .mint_main_heading h3{
        font-size: 2rem;
        margin-top: -0.4rem;
        width: 80%;
    }

    .mint_box_1 h1{
        font-size: 2rem;
        width: 45%;
        margin-left: 2rem;
        margin-bottom: 0%;
    }

    .assect_box{
        width: 90%;
        margin: 0 auto;
        align-items: center;
        justify-content: center;
        flex-direction: column;

    }
    .assect_box_1{
        width: 90%;
        margin: 0 auto;
    }
    .assect_box_2{
        width: 88%;
        /* text-align: center; */
        margin: 0 auto;
    }
    .assect_box_2 img{
        width: 100%;
        margin-left: 1rem;
    }

    .assect_box a{
        margin: 1rem auto;
    }

    .assect_box_2 .assect_box_2_text h2{

        width: 60%;
   
        font-size: 2rem;
      
      }
      .assect_box_2 .assect_box_2_text p{
        
          
          font-size: 1rem;
          /* border-bottom: 1px solid white; */
        
    
       }
       .mint_box_2{
        width: 95%;
        margin-top: 2rem;
    }

    .mint_box_2 h1{
        width: 60%;;
        font-size: 1.8rem;
    }
    .mint_box_2_div_1{
        width: 80%;
    }

    .mint_box_2_div_2{
        width: 100%;
        margin-top: 2rem;
    }


   .mint_box_2_div_2 a{
    width: 0;
   }
   
   .responsive_mint{
    display: block;
    width: 50%;
    margin: 0 auto;
    text-align: center;
    margin-top: 2rem;
   }
   .responsive_mint img{
    width: 50%;
   }

   .mint_box_2_div_2 .sub_div_1,
   .mint_box_2_div_2 .sub_div_2{
    width: 40%;
   }
    .mint_box_2 .sub_div_1 h3,
    .mint_box_2 .sub_div_2 h3{
        font-size: 1.2rem;
    }

    .mint_box_2_div_3{
        flex-direction: column;
        width: 90%;
        margin: 2rem auto;

    }

    .sub_div_3{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 90%;
        margin: 0 auto;
        margin-bottom: 2rem;
    }
    .gade_img{
        margin-top: 0rem;
        width: 70%;
        margin-bottom: 2rem;
    }
    .gade_img img{
        transform: scale(1.5);
    }

    .mint_box_3_text{
        width: 60%;
        text-align: center;
        margin: 0 auto;
    }

    .mint_box_3{
        margin-bottom: 2rem;
    }

    .mint_box_3_text h1,
    .mint_box_3_text h3{
        /* width: 50%; */

        font-size: 1.5rem;
        letter-spacing: 4px;
        
    }

    .mint_box_4 h3 ,
    .mint_box_4 h2{
        font-size: 1.3rem;
    }

    .mint_box_4 a{
        width: 30%;
    }
    .mint_box_4 h1{
        font-size: 2rem;
    }


    .mint_box_6{
        width: 70%;
        ;
    }

    .mint_box_6 a{
        width: 50%;
        text-align: center;
        margin: 0 1rem;
    }

    
}