.Navigation{

    margin: 0px; 
    position: fixed;
    top: 0%;
    /* padding: 0rem  1rem; */
    width: 100%;
    height: 65px;
    display: flex;
    flex-direction: row;
    /* justify-content: flex-end; */
    justify-content: space-around;
    z-index: 40;
    align-items: center;
    background-color: black;
    font-family: 'Rajdhani', sans-serif;
}

.Nav_image{
    width: 30%;
    margin-left: 1rem;
    /* text-align: center; */
}
.Nav_image img{
    width: 10%;
}

.Nav_text{
    text-align: center;
    width: 30%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.Nav_text img{
    width: 11%;
    transform: scale(1.2);
    /* height: 50px; */
}
.Nav_text h1{
    color: white;
    /* text-align: center; */
    /* width: 30%; */
    font-family: 'Rajdhani', sans-serif;
    font-weight: 600;
    letter-spacing: 15px;
    font-size: 1.5rem;
}

.Nav_button{
    width: 30%;
    /* box-sizing: border-box; */
    text-align: right;
}

.Nav_button a{
    text-decoration: none;
    color: white;
    padding: 0.4rem 2rem;
    border: 2px solid rgb(119, 119, 119);
    border-radius: 10px;
    background: linear-gradient(to top , rgba(75, 75, 75, 0.655) , rgba(177, 176, 176, 0.178));
    font-family: 'Rajdhani', sans-serif;
    font-weight: 500;
    font-size: 1.4rem;
    transition: color 0.5s;
    margin-right: 1rem;


}

.Nav_button a:hover{
    background: linear-gradient(to top , rgba(58, 58, 58, 0.693) , rgba(126, 125, 125, 0.178));
    /* font-size: 1.6rem; */
    color: rgb(212, 73, 96);

}


@media screen and (max-width: 1020px) {
    .Nav_button ,.Nav_image , .Nav_image{
        width: 20%;
        font-size: 1.3rem;
    }
    
    .Nav_button a{
        font-size: 1rem;
        padding: 0.4rem 1rem;
    }
    .Nav_text h1{
        font-size: 1.5rem;
    }
    .Nav_image img{
        width: 40%;
    }

    .Nav_text img{
        width: 15%;
        height: 40px;
    }
}




@media screen and (max-width: 820px) {
    
    .Nav_image img{
        width: 30%;
    }

    .Nav_text h1{
        font-size: 1.3rem;
    }

    .Nav_button a{
        font-size: 0.9rem;
        padding: 0.3rem 0.9rem;

    }
 
   }

   @media screen and (max-width: 700px) {

    .Navigation{
        height:60px;
    }
    
    .Nav_image img{
        width: 30%;
    }

    .Nav_text h1{
        font-size: 1rem;
    }
    .Nav_button{
        width: 30%;
        flex-shrink: 1;
    }

    .Nav_button a{
        font-size: 0.7rem;
        padding: 0.3rem 0.9rem;

    }

    .Nav_text img{
        width: 17%;
        height: 35px;
    }
 
   }