.header{
    width: 100%;
    background-size: cover;
    background-position: center;
    background-image: url(./Images/herder.png);
    /* background-color: bisque; */
    height: 90vh;
    padding: 0;
    margin: 0;
    margin-top: -1rem;
    background-repeat: no-repeat;
}

.herder img{
    width: 100%;
}